.Content {
  margin: 5px;
  margin-top: 63px;
  border: 5px solid linear-gradient(rgb(80, 75, 69), rgb(61, 56, 51));
  background-color: rgb(56, 55, 48);
  box-shadow: 0px 0px 3px 3px rgb(159, 161, 161);

  align-items: center;

  justify-content: center;
  color: white;
  text-align: center;
  height: 100%;
  padding: 5px;
  min-height: 580px;
}

.ErrorMsg {
  color: red;
  font-size: xx-large;
  text-align: center;
  min-height: 20px;
}

.SideD {
  display: flex;
}

@media (min-width: 500px) {
  .SideD {
    display: none;
  }
}
